.searchInput {
  background-color: var(--secondary-background);
  color: var(--text);
  width: 100%;
  padding: 10px 16px;
  border: none;
  outline: none;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  border-radius: 5px;
  box-sizing: border-box;
}
