.inputContainer {
  background-color: hsl(var(--primary));
  padding: 12px 16px;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
}

.inputLabel {
  display: block;
  background-color: var(--muted-foreground);
  font-size: 14px;
  margin: 4px 0;
}

.inputField {
  font-family: "Inter", sans-serif;
  outline: none;
  border: none;
  background-color: inherit;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 4px 0;

  &:disabled {
    color: #3b3b3b;
  }
}
