.inputContainer {
  background-color: var(--destructive-foreground);
  padding: 12px 16px;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
}

.inputLabel {
  display: block;
  font-weight: 600;
  font-size: 14px;
  margin: 4px 0;
}

.inputField {
  outline: none;
  border: none;
  background-color: inherit;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 4px 0;

  &:disabled {
    color: #3b3b3b;
  }
}
