.form {
  width: 100%;
  display: flex;
}

.icon {
  color: rgb(60, 60, 60);
  cursor: pointer;
}

.time {
  color: #6d6d6d;
  font-size: 12px;
}
.authorName {
  font-weight: 600;
  font-size: 16px;
  font-weight: bold;
}
